<div class="grid-content">
  <h1>{{$ctrl.email.subject}}</h1>

  <div ng-if="$ctrl.email">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere magna eu nisi laoreet sollicitudin.
      Suspendisse
      nec turpis nibh. Nulla tempor, eros in suscipit aliquam, nisl est luctus lacus, ut rhoncus ligula arcu rhoncus
      lectus.
      Duis tempus augue ut volutpat maximus. Phasellus finibus vel ligula at luctus. Duis ac egestas justo. Ut nec
      cursus
      orci, interdum mollis purus. Aliquam tincidunt rutrum mauris, at luctus velit cursus molestie. Sed congue sit amet
      arcu non luctus. Praesent eget nulla id justo sollicitudin accumsan. Pellentesque a sapien euismod mi mollis
      laoreet
      in et urna. Donec ac sem blandit, consequat velit a, lobortis dolor. Pellentesque habitant morbi tristique
      senectus
      et
      netus et malesuada fames ac turpis egestas. Nullam feugiat massa vel libero dapibus scelerisque. Aenean tincidunt
      lacinia nisl sed sollicitudin. Maecenas fermentum eros bibendum ex dapibus congue.</p>

    <p>Fusce dignissim leo lacus, vitae aliquam risus aliquet vitae. Sed malesuada vulputate dapibus. Praesent tempus,
      neque
      nec pellentesque scelerisque, tellus nibh dignissim dolor, a lobortis neque arcu et magna. Sed id sodales velit.
      Curabitur mollis vehicula sapien interdum iaculis. Donec at dolor lacus. In vitae odio urna. Interdum et malesuada
      fames ac ante ipsum primis in faucibus.</p>

    <p>Phasellus sollicitudin gravida risus, id placerat ante suscipit sit amet. Donec cursus pharetra est, at fringilla
      nisl pharetra eu. Donec non dictum eros, nec euismod augue. Morbi mollis sollicitudin metus, eu bibendum dui
      sodales
      vel. Duis sit amet hendrerit ex. Vivamus pellentesque purus imperdiet, maximus leo sit amet, porta libero. Vivamus
      venenatis tellus vitae condimentum tempor. Nunc luctus tortor sapien, non aliquam ligula porttitor et.</p>

    <p>Nam et augue risus. Mauris sollicitudin risus nec sodales ultrices. Ut rhoncus, turpis ac porta porttitor, tellus
      felis aliquam dui, ac pellentesque massa lectus cursus metus. Phasellus ullamcorper nibh orci, quis dictum sapien
      malesuada vitae. Sed ac ante volutpat, posuere urna sed, scelerisque massa. Vestibulum ante ipsum primis in
      faucibus
      orci luctus et ultrices posuere cubilia Curae; In placerat nunc non purus molestie, bibendum consectetur magna
      convallis. In tincidunt egestas lacus, a commodo odio porttitor vitae. Quisque eget posuere purus. Vivamus quis
      posuere nulla. Mauris fringilla varius interdum. Proin dictum, enim eu malesuada posuere, neque sapien interdum
      lorem,
      id rutrum urna metus ac urna. Mauris mollis mauris lectus, id posuere mi fermentum at. Etiam eget viverra
      erat.</p>

    <p>Phasellus neque mi, eleifend a metus non, aliquet suscipit dolor. Nunc nec vestibulum neque. Etiam consectetur
      urna
      a
      metus convallis tempor. Proin eu purus at leo volutpat vulputate sit amet vitae purus. Etiam cursus volutpat
      vestibulum. Nulla non lorem lectus. Phasellus vulputate mauris commodo purus scelerisque luctus a vitae sapien.
      Nam
      feugiat et diam ut varius. Aliquam iaculis ullamcorper fringilla. Cras sit amet aliquet tortor. Duis lacinia dui
      nunc,
      eu interdum dolor finibus eu. In vitae libero eget mauris molestie auctor. Mauris tempus cursus sem, sit amet
      elementum sem rhoncus vel.</p>
  </div>
</div>
