<div class="navigation-container grid-content">
  <ul class="no-bullet">
    <li ng-repeat="box in $ctrl.boxes">
      <a href="#" ng-class="{'selected': box === $ctrl.selectedBox}" ng-click="$ctrl.boxClicked(box)">
        {{box.name}}
      </a>
    </li>
  </ul>

  <!-- Add buttons to test Google APIs -->
  <div>
    <button class="button secondary" ng-click="$ctrl.gmailAuth()">Auth with Google</button>
  </div>
  <div>
    <button class="button secondary" ng-click="$ctrl.listLabels()">List labels</button>
  </div>
  <div>
    <button class="button secondary" ng-click="$ctrl.listEMails()">List E-Mails</button>
  </div>
</div>
